<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.mapper.TelephoneInfoManageMapper">

    <select id="selectAgentPageInfoManageListByPagination" resultType="TelephoneInfoVO">     	      
		 	SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
		 	       TB.* FROM (
						    SELECT a.AGENT_CODE, a.AGENT_NM, a.AGENT_REMARK, a.AGENT_IP, a.AGENT_MAC,
						           a.AGENT_USEYN, a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID, a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID,
								   a.AGENT_FLOOR,  fn_DetailCodeNm(a.AGENT_STATE) agentStateTxt , a.AGENT_BASICNUMBER, a.AGENT_NOWNUMBER, a.AGENT_OSVERSION,
								   c.CENTER_NM,  a.CENTER_ID, a.part_id, a.SEAT_ID, a.NODE_INFO
								   , fn_DetailCodeNm(a.TEL_CHANGE) telChangeTxt , a.AGENT_STATE 
							FROM tb_telephoneinfo a, tb_centerinfo c
							WHERE a.CENTER_ID = c.CENTER_ID
		        <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'agentNm'">
								and a.AGENT_NM LIKE CONCAT('%',#{searchKeyword},'%') 
							</when>
							<when test="searchCondition == 'agentBasicnumber'">
								and a.AGENT_BASICNUMBER LIKE CONCAT('%',#{searchKeyword},'%') 
							</when>
							<when test="searchCondition == 'agentNownumber'">
								and a.AGENT_NOWNUMBER LIKE CONCAT('%',#{searchKeyword},'%') 
							</when>
							<when test="searchCondition == 'disSeq'">
								and a.DISPLAY_SEQ =  #{searchKeyword} 
							</when>
							<otherwise>
								and a.AGENT_REMARK LIKE CONCAT('%',#{searchKeyword},'%')  
							</otherwise>
						</choose>
				</if>		
				<if test="searchCenterid != ''">
				     and a.CENTER_ID = #{searchCenterid}
				     <if test="searchFloor != ''">
				     and a.AGENT_FLOOR = #{searchFloor}
				     </if>
				</if>   
                <if test="searchReset != ''">
				   AND (a.AGENT_NOWNUMBER != '' or a.AGENT_NOWNUMBER != '0') 
				   AND agent_state = 'PHONE_STATE_2'
				</if>
				<if test="searchTelChange != ''">
				   and a.TEL_CHANGE = #{searchTelChange} 
				</if>
				<if test="adminLevel == 'ROLE_ADMIN' and searchPartid != ''">
				   and a.PART_ID = #{searchPartid}
				</if>  
				<if test="adminLevel != 'ROLE_ADMIN'">
				   and a.PART_ID IN (
				         select part_id from tb_partinfo where part_id = #{partId}
						 union all
						 SELECT  hi.part_id
								 FROM ( 
								     SELECT fn_hierarchy(part_id) AS partId, @level AS level 
								     FROM ( 
								            SELECT @start_with := #{partId}, 
								                   @partId := @start_with, 
								                   @level := 0 
								          ) vars, tb_partinfo 
								     WHERE @partId IS NOT NULL 
								     ) ho 
								JOIN tb_partinfo hi 
								ON hi.part_id = ho.partId
				   ) 
				</if> 
				ORDER BY  a.AGENT_NM ASC,  a.AGENT_CODE  DESC
	        )TB
	        ORDER BY  TB.AGENT_NM ASC,  TB.AGENT_CODE  DESC
	        limit  #{firstIndex}, #{recordCountPerPage}         		 	    
   </select>
   <select id="selectRestChangeCount"  resultType="java.lang.Integer">
        SELECT isnull(count(*)) 
        FROM tb_telephoneinfo 
        where TEL_CHANGE = 'TEL_CHANGE_2'
                 AND AGENT_NOWNUMBER != '0'
                 AND AGENT_STATE = 'PHONE_STATE_1'
                 AND AGENT_USEYN = 'Y'
   </select>
   <select id="selectRestChangeUpdate"  resultType="TelephoneInfoVO">
        SELECT AGENT_NOWNUMBER, NODE_INFO, AGENT_CODE
        FROM tb_telephoneinfo 
        where TEL_CHANGE = 'TEL_CHANGE_2'
                 AND AGENT_NOWNUMBER != '0'
                 AND AGENT_STATE = 'PHONE_STATE_1'
                 AND AGENT_USEYN = 'Y'
   </select>
   <select id="selectTodayBackUplist"  resultType="TelephoneInfoVO">
        SELECT a.his_telNumber hisTelNumber, a.his_telDay hisTelDay, b.NODE_INFO, b.AGENT_CODE
        FROM tb_telhis a, tb_telephoneinfo b 
        WHERE  a.SEAT_ID = b.SEAT_ID
		         AND a.TEL_CHANGE = 'TEL_CHANGE_2'
               AND his_telDay = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 DAY),'%Y%m%d')
   </select>
    
   
   <select id="selectAgentPageInfoManageDetail" resultType="TelephoneInfoVO">
     SELECT a.AGENT_CODE, a.AGENT_NM, a.AGENT_REMARK, a.AGENT_IP, a.AGENT_MAC,
            a.AGENT_USEYN, a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID, a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID,
			a.AGENT_FLOOR, a.AGENT_STATE , a.AGENT_BASICNUMBER, a.AGENT_NOWNUMBER, a.AGENT_OSVERSION, 
			c.CENTER_NM, d.part_nm , a.CENTER_ID, a.part_id,
			a.LOGIN_ID, a.LOGIN_PWD, a.SEAT_ID, a.c, a.TEL_CHANGE
     FROM tb_telephoneinfo a, tb_centerinfo c,  tb_partinfo d
     WHERE a.center_id = c.center_id
           AND a.part_id = d.part_id
           AND a.AGENT_CODE = #{agentCode}
   </select>
   <select id="selectAgentPageInfoManageDetailSeatId" resultType="TelephoneInfoVO">
     SELECT a.AGENT_CODE, a.AGENT_NM, a.AGENT_REMARK, a.AGENT_IP, a.AGENT_MAC,
            a.AGENT_USEYN, a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID, a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID,
			a.AGENT_FLOOR, a.AGENT_STATE , a.AGENT_BASICNUMBER, a.AGENT_NOWNUMBER, a.AGENT_OSVERSION, 
			c.CENTER_NM, d.part_nm , a.CENTER_ID, a.part_id,
			a.LOGIN_ID, a.LOGIN_PWD, a.SEAT_ID, a.NODE_INFO, a.TEL_CHANGE
     FROM tb_telephoneinfo a, tb_centerinfo c,  tb_partinfo d
     WHERE a.center_id = c.center_id
           AND a.part_id = d.part_id
           AND a.SEAT_ID = #{seatId}
   </select>
   <select id="selectAgentPageInfoManageListTotCnt_S" resultType="java.lang.Integer">
        SELECT  ifnull(count(*),0)      
	    FROM tb_telephoneinfo a
	    WHERE 1=1
	       <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'agentNm'">
								and a.AGENT_NM LIKE CONCAT('%',#{searchKeyword},'%') 
							</when>
							<when test="searchCondition == 'disSeq'">
								and a.DISPLAY_SEQ =  #{searchKeyword} 
							</when>
							<otherwise>
								and a.AGENT_REMARK LIKE CONCAT('%',#{searchKeyword},'%')  
							</otherwise>
						</choose>
				</if>		
				<if test="searchCenterid != ''">
				     and a.CENTER_ID = #{searchCenterid}
				     <if test="searchFloor != ''">
				     and a.AGENT_FLOOR = #{searchFloor}
				     </if>
				</if>   
				<if test="adminLevel == 'ROLE_ADMIN' and searchPartid != ''">
				   and a.PART_ID = #{searchPartid}
				</if>  
				<if test="adminLevel != 'ROLE_ADMIN'">
				   and a.PART_ID IN (
				         select part_id from tb_partinfo where part_id = #{partId}
						 union all
						 SELECT  hi.part_id
								 FROM ( 
								     SELECT fn_hierarchy(part_id) AS partId, @level AS level 
								     FROM ( 
								            SELECT @start_with := #{partId}, 
								                   @partId := @start_with, 
								                   @level := 0 
								          ) vars, tb_partinfo 
								     WHERE @partId IS NOT NULL 
								     ) ho 
								JOIN tb_partinfo hi 
								ON hi.part_id = ho.partId
				   ) 
				</if> 				    	     
   </select>
   <select id="selectAgentExist" resultType="java.lang.Integer">
       select ifnull(count(*),0)   
       from tb_telephoneinfo
       where AGENT_CODE = #{agentCode} 
   </select>
   <select id="selectTelChangeInfo" resultType="java.lang.String">
       select FN_TELAVAL(#{seatId}, #{agentNownumber})
   </select>
   <insert id="insertAgentInfoManage">
      INSERT INTO tb_telephoneinfo( AGENT_CODE, AGENT_NM, AGENT_REMARK, AGENT_IP, AGENT_MAC, AGENT_USEYN, 
                                FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID,
                                CENTER_ID, PART_ID, AGENT_FLOOR, AGENT_BASICNUMBER, AGENT_OSVERSION, LOGIN_ID, LOGIN_PWD, SEAT_ID, NODE_INFO, TEL_CHANGE, AGENT_STATE )
      VALUES (#{agentCode}, #{agentNm}, #{agentRemark,jdbcType=VARCHAR}, #{agentIp,jdbcType=VARCHAR}, #{agentMac,jdbcType=VARCHAR }, 
              #{agentUseyn,jdbcType=VARCHAR },  now(), #{userId,jdbcType=VARCHAR}, now(), #{userId,jdbcType=VARCHAR},
              #{centerId ,jdbcType=VARCHAR}, #{partId, jdbcType=VARCHAR}, #{agentFloor, jdbcType=INTEGER },
              #{agentBasicnumber , jdbcType=VARCHAR}, #{agentOsversion , jdbcType=VARCHAR},
              #{loginId , jdbcType=VARCHAR}, #{loginPwd , jdbcType=VARCHAR},  #{seatId , jdbcType=VARCHAR},  #{nodeInfo , jdbcType=VARCHAR},
              #{telChange , jdbcType=VARCHAR}, 'PHONE_STATE_1'
              )
   </insert>
   <insert id="insertTelBackUp">
   INSERT INTO tb_telhis (his_telNumber, his_telDay, SEAT_ID, TEL_CHANGE)
  SELECT AGENT_NOWNUMBER , DATE_FORMAT(NOW(),'%Y%m%d'), SEAT_ID, TEL_CHANGE from tb_telephoneinfo
  WHERE (AGENT_NOWNUMBER != '0' AND AGENT_NOWNUMBER != '')
             AND TEL_CHANGE = 'TEL_CHANGE_2'
   </insert>
   <update id="updateAgentIpMac">
      UPDATE tb_telephoneinfo SET AGENT_IP = #{agentIp,jdbcType=VARCHAR},
                              AGENT_MAC = #{agentMac,jdbcType=VARCHAR }
      WHERE   AGENT_CODE = #{agentCode}                      
   </update>
   <update id="updateAgentChangeNumber">
     UPDATE tb_telephoneinfo SET UPDATE_DATE = now(), AGENT_NOWNUMBER = #{agentNownumber}
                                          ,AGENT_STATE = #{agentState}
     WHERE AGENT_CODE = #{agentCode}
   </update>
   <update id="updateAgentResetNumber">
     UPDATE tb_telephoneinfo SET UPDATE_DATE = now()
                                          ,AGENT_STATE = #{agentState}
                                          , AGENT_NOWNUMBER = '0'
     WHERE AGENT_NOWNUMBER = #{agentNownumber}
   </update>
   <update id="updateAgentStateChange">
     UPDATE tb_telephoneinfo SET UPDATE_DATE = now(), AGENT_STATE = #{agentState}
     WHERE AGENT_CODE = #{agentCode}
   </update>
    
   <update id="updateAgentPageInfoManage">
      UPDATE tb_telephoneinfo SET AGENT_NM = #{agentNm}
                             ,  AGENT_OSVERSION = #{agentOsversion, jdbcType=VARCHAR } 
                             ,  AGENT_REMARK = #{agentRemark,jdbcType=VARCHAR }
                             ,  AGENT_USEYN =  #{agentUseyn,jdbcType=VARCHAR }
                             ,  LAST_UPDT_PNTTM = now()
                             ,  LAST_UPDUSR_ID = #{userId,jdbcType=VARCHAR}
                             , CENTER_ID = #{centerId ,jdbcType=VARCHAR}
                             , PART_ID = #{partId, jdbcType=VARCHAR}
                             , AGENT_BASICNUMBER = #{agentBasicnumber, jdbcType=VARCHAR}
                             , AGENT_FLOOR = #{agentFloor, jdbcType=INTEGER }
                             , LOGIN_ID =  #{loginId , jdbcType=VARCHAR}
                             , LOGIN_PWD =  #{loginPwd , jdbcType=VARCHAR}
                             , SEAT_ID =  #{seatId , jdbcType=VARCHAR}
                             , NODE_INFO =  #{nodeInfo , jdbcType=VARCHAR}
                             , AGENT_MAC = #{agentMac,jdbcType=VARCHAR }
                             , TEL_CHANGE = #{telChange, jdbcType=VARCHAR}
							 , AGENT_NOWNUMBER = #{agentNownumber, jdbcType=VARCHAR}
							 , AGENT_STATE = #{agentState, jdbcType=VARCHAR}
      WHERE AGENT_CODE = #{agentCode}
   </update>
   <delete id="deleteAgentPageInfoManage">
      DELETE FROM tb_telephoneinfo
      WHERE AGENT_CODE = #{agentCode}   
   </delete>

</mapper>