<?xml version="1.0" encoding="UTF-8"?>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aten.com.backoffice.mapper.UserPhoneInfoManageMapper">
    
    <select id="selectAgentPageInfoManageListByPagination" resultType="UserPhoneInfoVO">     	      
		 	SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
		 	       TB.* FROM (
						    SELECT a.PHONE_NUMBER, a.PHONE_GUBUN, a.PHONE_USEYN, 
                                   a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID, a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID, a.PHONE_STATE
							FROM tb_userphoneinfo
							WHERE 1=1
		        <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'phoneNumber'">
								and a.PHONE_NUMBER LIKE CONCAT('%',#{searchKeyword},'%') 
							</when>
							<otherwise>
								and a.AGENT_REMARK LIKE CONCAT('%',#{searchKeyword},'%')  
							</otherwise>
						</choose>
				</if>		
				<if test="searchPhoneGubun != ''">
				     and a.PHONE_GUBUN = #{searchPhoneGubun}
				</if> 
				<if test="searchPhoneState != ''">
				     and a.PHONE_STATE = #{searchPhoneState}
				</if> 
				<if test="searchPhoneUseyn != ''">
				     and a.PHONE_USEYN = #{searchPhoneUseyn}
				</if> 
				ORDER BY  a.AGENT_CODE  DESC
	        )TB
	        ORDER BY  TB.PHONE_NUMBER  DESC
	        limit  #{firstIndex}, #{recordCountPerPage}         		 	    
   </select>
   <select id="selectUserPhoneInfoManageListByCombo" resultType="UserPhoneInfoVO">     	      
		 	SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
		 	       TB.* FROM (
						    SELECT a.PHONE_NUMBER, a.PHONE_GUBUN, a.PHONE_USEYN, 
                                   a.PHONE_STATE
							FROM tb_userphoneinfo
							WHERE 1=1
		        <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'phoneNumber'">
								and a.PHONE_NUMBER LIKE CONCAT('%',#{searchKeyword},'%') 
							</when>
							<otherwise>
								and a.AGENT_REMARK LIKE CONCAT('%',#{searchKeyword},'%')  
							</otherwise>
						</choose>
				</if>		
				<if test="searchPhoneGubun != ''">
				     and a.PHONE_GUBUN = #{searchPhoneGubun}
				</if> 
				<if test="searchPhoneState != ''">
				     and a.PHONE_STATE = #{searchPhoneState}
				</if> 
				ORDER BY  a.AGENT_CODE  DESC
	        )TB
	        ORDER BY  TB.PHONE_NUMBER  DESC
	        limit  #{firstIndex}, #{recordCountPerPage}         		 	    
   </select>
   <select id="selectUserPhoneInfoManageListByCnt"  resultType="java.lang.Integer">   	      
   	       SELECT ifnull(count(*),0)   
		   FROM tb_userphoneinfo
		   WHERE 1=1
		        <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'phoneNumber'">
								and a.PHONE_NUMBER LIKE CONCAT('%',#{searchKeyword},'%') 
							</when>
							<otherwise>
								and a.AGENT_REMARK LIKE CONCAT('%',#{searchKeyword},'%')  
							</otherwise>
						</choose>
				</if>		
				<if test="searchPhoneGubun != ''">
				     and a.PHONE_GUBUN = #{searchPhoneGubun}
				</if> 
				<if test="searchPhoneState != ''">
				     and a.PHONE_STATE = #{searchPhoneState}
				</if> 
			     		 	    
   </select>
    <seelect id="selectUsserPhoneInfoDetail" resultType="UserPhoneInfoVO">
       SELECT * FROM tb_userphoneinfo
       WHERE PHONE_NUMBER =#{phoneNumber}
    </seelect>
    <insert id="insertUserPhoneInfo">
       INSERT INTO tb_userphoneinfo
    </insert>    
    <update id="updateUserPhoneInfo">
       UPDATE tb_userphoneinfo set 
       WHERE PHONE_NUMBER =#{phoneNumber}
    </update>
    <delete id="deleteUserPhoneInfo">
        DELETE FROM tb_userphoneinfo WHERE PHONE_NUMBER =#{phoneNumber}
    </delete>
</mapper>